#pagination 
{
    display: flex;
    justify-content: center;
    background-color: rgb(122, 122, 150);
}

body 
{
    background-color: rgb(162, 144, 179);
}


select
{
    display: flex;
    flex-direction: column;
}